.advantage {
    min-height: 470px;
    padding-top: 70px;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__block {
        width: 245px;
        h3 {
            margin-top: 30px;
            font-size: 18px;
            font-weight: bold;
            line-height: normal;
            text-align: center;
            color: #0d0d0d;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__text {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        color: #0d0d0d;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}